<div >

    <ol class="breadcrumb fs-16">
        <li><i class="fas fa-home color-icon"></i> <a href="/maximo/index">Inicio</a> | Poster -  Pelicula GLADIADOR </li>
    </ol>
   



                <div class="row">
                    <div class="col-md-12 text-center">
                    Para dudas del flujo puede contactarme: ing.ebercf@gmail.com.
                    <br>
                     
                
						<img src="/maximo/resources/static/img/maximo_gladiador.jpg">
						<p><strong>Mi nombre es Máximo Décimo Meridio, comandante de los ejércitos del norte, general de las Legiones Fénix...</strong></p>
					
                           </div>
                  
                </div>
                

</div>